.App {
     text-align: center;
}

.header-color {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left-header {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mdl-layout__header-row .mdl-navigation__link {
    font-size: 15px;
    color: white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
   background-color: transparent !important;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
    background: rgb(202, 12, 12);
    cursor: pointer;
}
li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: right;
    line-height: 3rem;
}
li a:hover {
    background: rgb(202, 12, 12);
}
.homepage {
    height: 80vh;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
.avatar-img {
  display: flex;
    width: 40%;
    left: 0;
    justify-content: center;
    top: 0;
    position: relative;
    margin: 70px;
}

.banner-text {
  opacity: .8;
  width: 80%;
  margin: auto 35px;
  left: 0;
  top: 35%;
  position: absolute;
}

.banner-text h1 {
  font-size: 30px;
  font-family: 'Jomolhari', serif;
  color: white;
}


.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.social-links  {
  font-size: 3.5rem;
  color: white;
  margin: auto;
  padding: 1rem;
}
.social-links a {
  
    color: white;
    font-weight: 500;
}

.user-name span{
  color: rgb(255, 255, 0);
  font-family: 'Jomolhari', serif;

}
.status {
  font-size: 30px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;

}

.mdl-grid {
  padding: 8px;
  background: black;
  height: 100vh;
}
.contact-list {
  background: white;
}

.contact-body p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
  color: white;
}
.mdl-layout__drawer-button {
  display: block;
  position: absolute;
  height: 48px;
  width: 50px;
  border: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 56px;
  font-family: Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  color: red;
  z-index: 4;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  color: red;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
}

