.App {
  text-align: center;
}

.header-color {
 
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.left-header {
 
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mdl-layout__header-row .mdl-navigation__link {
  font-size: 15px;
  color: white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: transparent !important;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
  background: rgb(202, 12, 12);
  cursor: pointer;
}
li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: right;
  line-height: 3rem;
}
li a:hover {
  background: rgb(202, 12, 12);
}
.homepage {
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
.avatar-img {
justify-content: space-between;
display: flex;
left: 5%;
top: 10%;
position: relative;
}

.banner-text {
  background-color: black;
  opacity: .8 ;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  bottom: 30%;
  left: 10%;
  position: relative;
}

.banner-text h1 {
  font-size: 45px;
  font-weight: bold;
  color: white;
}


.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.social-links  {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.first-name {
  color: rgb(255, 255, 0);

}
.status {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.mdl-grid {
  padding: 8px;
  background: black;
  height: 100vh;
}
.contact-list {
  background: white;
}

.contact-body p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
  color: white;
}
